{% extends "base.html" %}

{% block content %}
<h1 class="title">Volleyball Portal Helper</h1>

<h2>Search Player</h2>
<form method="POST" class = "search-form">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="first_name" required>
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="last_name" required>
    </div>

    <div class="form-group">
        <label>School</label>
        <input type="text" name="school" required>
    </div>
    <button type="submit">Search</button>
</form>
    <hr>

<h2>Search History</h2>

<table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>School</th>
                <th>Sets Played</th>
                <th>Kills</th>
                <th>Kills/Set</th>
                <th>Assists/Set</th>
                <th>Digs/Set</th>
                <th>Blocks/Set</th>
                <th>Points</th>
                <th>Favorite</th>
            </tr>
        </thead>
    <tbody>
        {% for player in all_data %}
        <tr>
            <td>{{ player.identifying.first_name }}</td>
            <td>{{ player.identifying.last_name }}</td>
            <td>{{ player.identifying.school }}</td>
            <td>{{ player.career.sets_played or 'N/A' }}</td>
            <td>{{ player.career.kills or 'N/A' }}</td>
            <td>{{ player.career.kills_per_set or 'N/A' }}</td>
            <td>{{ player.career.assists_per_set or 'N/A' }}</td>
            <td>{{ player.career.digs_per_set or 'N/A' }}</td>
            <td>{{ player.career.blk_per_s or 'N/A' }}</td>
            <td>{{ player.career.points or 'N/A' }}</td>
            <td>
                <form method="POST" action="{{ url_for('toggle_favorite', pii_id=player.identifying.pii_id) }}">
                    <button type="submit">{{ '★' if player.identifying.is_favorite else '☆' }}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}