{% extends "base.html" %}

{% block content %}
<h1 class="title">Volleyball Portal Helper</h1>

<h2>Search Player</h2>
<form method="POST" class = "search-form">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="first_name" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="last_name" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label>School</label>
        <select name="school" required>
            <option disabled selected value></option>
            <option value="Adams State">Adams State</option>
            <option value="Angelo State">Angelo State</option>
            <option value="Arkansas-Fort Smith">Arkansas-Fort Smith</option>
            <option value="Black Hills State">Black Hills State</option>
            <option value="Cameron">Cameron</option>
            <option value="Central Missouri">Central Missouri</option>
            <option value="Central Oklahoma">Central Oklahoma</option>
            <option value="Chadron State">Chadron State</option>
            <option value="Colorado Christian">Colorado Christian</option>
            <option value="Colorado Mesa">Colorado Mesa</option>
            <option value="Colorado School of Mines">Colorado School of Mines</option>
            <option value="CSU Pueblo">CSU Pueblo</option>
            <option value="DBU">DBU</option>
            <option value="Eastern New Mexico">Eastern New Mexico</option>
            <option value="Emporia State">Emporia State</option>
            <option value="Fort Hays State">Fort Hays State</option>
            <option value="Fort Lewis">Fort Lewis</option>
            <option value="Lubbock Christian">Lubbock Christian</option>
            <option value="Midwestern State">Midwestern State</option>
            <option value="Missouri Southern">Missouri Southern</option>
            <option value="Missouri Western">Missouri Western</option>
            <option value="MSU Denver">MSU Denver</option>
            <option value="New Mexico Highlands">New Mexico Highlands</option>
            <option value="Newman">Newman</option>
            <option value="Northwest Missouri">Northwest Missouri</option>
            <option value="Oklahoma Christian">Oklahoma Christian</option>
            <option value="Pittsburg State">Pittsburg State</option>
            <option value="Regis">Regis</option>
            <option value="South Dakota Mines">South Dakota Mines</option>
            <option value="St. Edward's">St. Edward's</option>
            <option value="St. Mary's">St. Mary's</option>
            <option value="Sul Ross State">Sul Ross State</option>
            <option value="Texas A&M - Kingsville">Texas A&M - Kingsville</option>
            <option value="Texas A&M International">Texas A&M International</option>
            <option value="Texas Woman's">Texas Woman's</option>
            <option value="UCCS">UCCS</option>
            <option value="UT Dallas">UT Dallas</option>
            <option value="UT Permian Basin">UT Permian Basin</option>
            <option value="UT Tyler">UT Tyler</option>
            <option value="Washburn">Washburn</option>
            <option value="West Texas A&M">West Texas A&M</option>
            <option value="Western Colorado University">Western Colorado University</option>
            <option value="Western New Mexico">Western New Mexico</option>
            <option value="Westminster">Westminster</option>
        </select>
    </div>
    <button type="submit">Search</button>
</form>
    <hr>

<h2>Search History</h2>

<table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>School</th>
                <th>Sets Played</th>
                <th>Kills</th>
                <th>Kills/Set</th>
                <th>Assists/Set</th>
                <th>Digs/Set</th>
                <th>Blocks/Set</th>
                <th>Points</th>
                <th>Favorite</th>
            </tr>
        </thead>
    <tbody>
        {% for player in all_data %}
        {% set detail_url = url_for('player_detail', pii_id=player.identifying.pii_id) %}
        <tr style="cursor:pointer;" onclick="window.location='{{ detail_url }}'">
            <td>{{ player.identifying.first_name }}</td>
            <td>{{ player.identifying.last_name }}</td>
            <td>{{ player.identifying.school }}</td>
            <td>{{ player.career.sets_played or 'N/A' }}</td>
            <td>{{ player.career.kills or 'N/A' }}</td>
            <td>{{ player.career.kills_per_set or 'N/A' }}</td>
            <td>{{ player.career.assists_per_set or 'N/A' }}</td>
            <td>{{ player.career.digs_per_set or 'N/A' }}</td>
            <td>{{ player.career.blk_per_s or 'N/A' }}</td>
            <td>{{ player.career.points or 'N/A' }}</td>
            <td>
                <form method="POST" action="{{ url_for('toggle_favorite', pii_id=player.identifying.pii_id) }}">
                    <button type="submit" class="fav-btn {% if player.identifying.is_favorite %}favorited{% endif %}">{{ '★' if player.identifying.is_favorite else '☆' }}
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}